@{
    var manage = new CMSManage();
    var itemlist = manage.getItemList("news", 0);

    manage.Dispose();
    
}
<!DOCTYPE html>
<html class="no-js" lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title
        @if (ViewBag.navIndex == "index" && !string.IsNullOrEmpty(ViewBag.config.SeoTitle))
        {
            <text> @ViewBag.config.SeoTitle</text>
        }
        else
        {
            <text> @ViewBag.config.SiteName</text>
        }
    </title>
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
    <meta name="author" content="bitcms.net,bitcms内容管理系统" />
    <meta name="keywords" content="@ViewBag.keywords" />
    <meta name="description" content="@ViewBag.description" />
    <link href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/web.css" rel="stylesheet">
    @RenderSection("Style", false)
    <script src="/js/jquery-1.10.2.min.js"></script>
    @if (!string.IsNullOrEmpty(@ViewBag.config.StatisticsCode))
    {
        @Html.Raw(ViewBag.config.StatisticsCode)
    }
</head>
<body>
    <header>
        <div class="container">
            <div class="pull-left clearfix">
                欢迎使用bitcms管理系统
            </div>
            <!---->
            <div class="pull-right user">
                <span>
                    <a href="/login?url=@Utils.urlEncode(Fetch.getUrl())">登录</a>
                    <a href="/register">注册</a></span>
                <span class="hidden">
                    <a href="/person" class="avatar">
                        <img src="/images/noavatar_small.gif">
                        <label>
                            游客</label>
                    </a>
                    <a href="javascript:void(0);" class="signout">退出</a>
                </span>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="navside clearfix">
            <div class="logo hidden-xs hidden-sm">
                <a href="/" title="@ViewBag.config.SiteName">
                    <img src="/images/logo-big.png" alt="@ViewBag.config.SiteName"></a>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li @if (ViewBag.navIndex == "index")
                    {<text> class="active"</text>}><a href="/"><span>首页</span></a></li>
                @foreach (var iteminfo in itemlist)
                {
                    <li @if (ViewBag.navIndex == "item_" + iteminfo.ItemId)
                        {<text> class="active"</text>}><a href="/@iteminfo.ItemId" ><span>@iteminfo.ItemName</span></a></li>
                }
            </ul>
        </div>
        <div class="pull-right mainside">
            @RenderBody()
        </div>
    </div>
    <footer>
        <p class="copyright">
            @if (!string.IsNullOrEmpty(@ViewBag.config.Icp))
            {
                <span>@Html.Raw(ViewBag.config.Icp)</span>
            }

            <span>Copyright &copy 2017 <a href="http://www.bitcms.net" target="_blank">bitcms.net</a></span>
        </p>
    </footer>

    <script src="/js/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="/js/jquery.cookie.js" charset="utf-8"></script>
    <script src="/js/jquery.md5.js" charset="utf-8"></script>
    <script src="/js/layer/layer.js" charset="utf-8"></script>
    <script src="/js/fun.js" charset="utf-8"></script>
    <script>
        $(function () {
            var setActive = function () {
                if ($(window).width() < 992) {
                    var navactive = $(".navside .nav li.active");
                    var nav = $(".navside .nav");
                    if (navactive.position().left + navactive.width() > nav.width()) {
                        $(".navside .nav").scrollLeft(navactive.position().left - navactive.width() / 2);
                    }
                }
            };
            setActive();
        });
    </script>
    @Html.Partial("_loginJS")
    @RenderSection("Script", false)
</body>
</html>
